*.min.js binary
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/.phpcs.xml.dist export-ignore
/.readthedocs.mkdocs.yaml export-ignore
/.readthedocs.readthedocs.yaml export-ignore
/.readthedocs.material.yaml export-ignore
/.readthedocs.materialx.yaml export-ignore
/.readthedocs.properdocs.yaml export-ignore
/.readthedocs.yaml export-ignore
/.readthedocs.zensical.yaml export-ignore
/CHANGELOG.PHPExcel.md export-ignore
/bin export-ignore
/composer.lock export-ignore
/docs export-ignore
/infra export-ignore
/mkdocs.material.yml export-ignore
/mkdocs.materialx.yml export-ignore
/mkdocs.mkdocs.yml export-ignore
/mkdocs.readthedocs.yml export-ignore
/mkdocs.yml export-ignore
/phpstan-baseline.neon export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/properdocs.yml export-ignore
/samples export-ignore
/tests export-ignore
/zensical.classic.toml export-ignore
/zensical.toml export-ignore
