parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getTokenSubType\\(\\) on PhpOffice\\\\PhpSpreadsheet\\\\Calculation\\\\FormulaToken\\|null\\.$#"
			count: 4
			path: src/PhpSpreadsheet/Calculation/FormulaParser.php

		-
			message: "#^Cannot call method getTokenType\\(\\) on PhpOffice\\\\PhpSpreadsheet\\\\Calculation\\\\FormulaToken\\|null\\.$#"
			count: 9
			path: src/PhpSpreadsheet/Calculation/FormulaParser.php

		-
			message: "#^Cannot call method setTokenSubType\\(\\) on PhpOffice\\\\PhpSpreadsheet\\\\Calculation\\\\FormulaToken\\|null\\.$#"
			count: 5
			path: src/PhpSpreadsheet/Calculation/FormulaParser.php

		-
			message: "#^Cannot call method setValue\\(\\) on PhpOffice\\\\PhpSpreadsheet\\\\Calculation\\\\FormulaToken\\|null\\.$#"
			count: 5
			path: src/PhpSpreadsheet/Calculation/FormulaParser.php

		-
			message: "#^Strict comparison using \\=\\=\\= between PhpOffice\\\\PhpSpreadsheet\\\\Calculation\\\\FormulaToken and null will always evaluate to false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Calculation/FormulaParser.php

		-
			message: "#^Cannot access offset 1 on array\\|false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Cannot access offset 2 on array\\|false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Cannot access offset 3 on array\\|false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Cannot access offset 4 on array\\|false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\:\\:getData\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\:\\:getStream\\(\\) should return resource but returns resource\\|false\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#1 \\$No of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#1 \\$oleTimestamp of static method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\:\\:OLE2LocalDate\\(\\) expects string, string\\|false given\\.$#"
			count: 2
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#2 \\$name of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects string, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#3 \\$type of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#4 \\$prev of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#5 \\$next of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#6 \\$dir of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Parameter \\#9 \\$data of class PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS constructor expects string, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\:\\:\\$root \\(PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\\\Root\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:\\$_data \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:\\$startBlock \\(int\\) on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS.php

		-
			message: "#^Parameter \\#1 \\$No of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/File.php

		-
			message: "#^Parameter \\#4 \\$prev of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/File.php

		-
			message: "#^Parameter \\#5 \\$next of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/File.php

		-
			message: "#^Parameter \\#6 \\$dir of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/File.php

		-
			message: "#^Parameter \\#1 \\$No of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Parameter \\#4 \\$prev of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Parameter \\#5 \\$next of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Parameter \\#6 \\$dir of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects int, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Parameter \\#9 \\$data of method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\:\\:__construct\\(\\) expects string, null given\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\\\Root\\:\\:\\$bigBlockSize \\(int\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLE\\\\PPS\\\\Root\\:\\:\\$smallBlockSize \\(int\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLE/PPS/Root.php

		-
			message: "#^Parameter \\#1 \\$data of static method PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLERead\\:\\:getInt4d\\(\\) expects string, string\\|false given\\.$#"
			count: 8
			path: src/PhpSpreadsheet/Shared/OLERead.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 2
			path: src/PhpSpreadsheet/Shared/OLERead.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLERead\\:\\:\\$data has no type specified\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLERead.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLERead\\:\\:\\$documentSummaryInformation has no type specified\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLERead.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLERead\\:\\:\\$summaryInformation has no type specified\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLERead.php

		-
			message: "#^Property PhpOffice\\\\PhpSpreadsheet\\\\Shared\\\\OLERead\\:\\:\\$wrkbook has no type specified\\.$#"
			count: 1
			path: src/PhpSpreadsheet/Shared/OLERead.php
