includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/composer/pcre/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 10
    paths:
        - samples/
        - src/
        - tests/
        - infra/
        - bin/
    excludePaths:
        - src/PhpSpreadsheet/Chart/Renderer/JpGraph.php
        - src/PhpSpreadsheet/Chart/Renderer/JpGraphRendererBase.php
        - src/PhpSpreadsheet/Collection/Memory/SimpleCache1.php
        - src/PhpSpreadsheet/Collection/Memory/SimpleCache3.php
        - src/PhpSpreadsheet/Writer/ZipStream2.php
        - src/PhpSpreadsheet/Writer/ZipStream3.php
        - tests/PhpSpreadsheetTests/Writer/Xlsx/ArrayFunctions2Test.php
    parallel:
        processTimeout: 300.0
    ignoreErrors:
        # Accept a bit anything for assert methods
        - '~^Parameter \#2 .* of static method PHPUnit\\Framework\\Assert\:\:assert\w+\(\) expects .*, .* given\.$~'
        - '~Method .*rovider.* return type has no value type specified in iterable type array\.$~'
        - '~Method .*rovider.* should return array but returns mixed\.$~'
        - '~.* has parameter \$expectedResult with no value type specified in iterable type array\.$~'
        #- identifier: missingType.iterableValue
