<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
    backupGlobals="true"
    colors="true"
    syntaxCheck="true"
    disallowTestOutput="true">
    <php>
        <ini name="memory_limit" value="2048M"/>
    </php>
    <testsuite name="PhpSpreadsheet Unit Test Suite">
        <directory suffix="Test.php">./tests/PhpSpreadsheetTests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/PhpSpreadsheet/Shared/PCLZip</directory>
                <directory>./src/PhpSpreadsheet/Shared/JAMA</directory>
                <directory>./src/PhpSpreadsheet/Writer/PDF</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
