<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./tests/bootstrap.php" backupGlobals="true" colors="true" cacheResultFile="/tmp/.phpspreadsheet.phpunit.result.cache" convertDeprecationsToExceptions="true">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <php>
    <ini name="memory_limit" value="2048M"/>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
  <testsuite name="PhpSpreadsheet Unit Test Suite">
    <directory>./tests/PhpSpreadsheetTests</directory>
  </testsuite>
</phpunit>
