<?xml version="1.0" encoding="UTF-8"?> 
<phpunit bootstrap="./bootstrap.php"
    backupGlobals="true"
    colors="true" 
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true" 
    processIsolation="false" 
    syntaxCheck="true" 
    verbose="true" 
    strict="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false">
    <php>
        <ini name="memory_limit" value="2048M"/>
    </php>
    <testsuite name="PHPExcel Unit Test Suite">
        <directory suffix="Test.php">./classes</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../classes</directory>
            <exclude>
                <directory>../classes/src/Shared/PCLZip</directory>
                <directory>../classes/src/Shared/JAMA</directory>
                <directory>../classes/src/Writer/PDF</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit> 
